.menu{
    font-family: 'Arbutus Slab';
    width: 100%;
    background-color: #EB5D5D;
    display: flex;
    justify-content: space-around;
    height: 1rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.menu a{
    cursor: pointer;
    text-decoration: none;
}

.banner{
    height: 10rem;
    display: flex;
    background-color: #f6e013;
    justify-content: space-around;
}

.banner h1{
    font-family: 'Cinzel';
    font-size: 3.125rem;
    padding-top: 3.4rem;
}

.carrossel{
    background-color:#f6df1361;
    height: 20.938rem;
}

h2{
    font-weight: bold;
    font-family: 'Gudea';
    text-align: center;
    margin-left: 5.875rem;
    font-size: 1.438rem;
    background-color: #EB5D5D;
    border-radius: 0.938rem;
    width: 82.52%;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    min-width: 53.125rem;
}

.paragrafoum, .paragrafodois, .paragrafotres, .paragrafoquatro, .paragrafocinco, .paragrafoseis{
    font-family: 'Gudea';
    font-size: 1.125rem;
    margin-left: 5.875rem;
    margin-right: 5.875rem;
}

/*.banner{
    height: 10rem;
    display: flex;
    background-color: #f6e013;
    flex-start: 22.25rem;
    justify-content: space-around;
}

.banner h1{
    font-family: 'Cinzel';
    font-size: 3.125rem;
    padding-top: 2.813rem;
}*/

.carrossel{
    min-height: 20.938rem;
    background-color:#f6df1321;
}

h2{
    font-weight: bold;
    font-size: 1.438;
    text-align: center;
    background-color: #eb5d5d
}

.paragrafo p{
    justify-self: auto;
}

footer{
    text-align: center;
    font-family: 'Advent Pro';
    width: 100%;
    position: absolute;
    background-color: #f6e013
}